

/* ===================> home section <================ */

@media(max-width: 576px) {
    .hom1{
        padding-top: 10%;
    }
    .hom1 h1{
        font-size: 40px;
    }
    .hom1 p{
        font-size: 15px;
    }
}

/* ============= Foot section ========== */

@media(max-width:  576px){
    .ft{
        padding-top: 15%;
    }
}

/* ===================== Testimonial ==================== */

@media(max-width: 576px){
    .cmr{
        padding-bottom:0;
    }
    .cmr img{
        width:80px;
        height: 80px;
        border-radius: 50%;
    }
}